:root{
  --color-mn:#333;
  --color-bg:#ddd;
  --color-ll:#aab;
  --color-hl:#58a;
}
*{
  color: var(--color-mn);
  background-color: var(--color-bg);
  border-radius:0.3rem;
  border-color:var(--color-ll);
  font-family: sans-serif;
}
button {
  font-family: Hack, monospace;
}
@media (prefers-color-scheme: dark) {
  *{
    color: var(--color-bg);
    background-color: var(--color-mn);
  }
}
hidden {
  display: none;
}
